*{background-color: rgb(219, 218, 215);}
h1,h2,h3,h4,h5,h6{color: rgb(79, 40, 116);}
ol{background-color: chartreuse;}
ul{color: rgb(141, 66, 12);}
h1{font-family: initial, 'Times New Roman', Times, serif;}
h1{font-size: 40px;}





